@main {
    
    <h1>Last tweet for keyword</h1>
    
    <p id="twitt"></p>
    
    <div><br />
	Keyword : <input type="text" name="keywordField" id="keywordField">
	<input type="submit" value="Submit" onclick="updateKeyword()">
	</div>
    
    <script type="text/javascript" charset="utf-8">
        
        // twitterUpdate function called everytime a tweet is produced with text in arg
        var twitterUpdate = function(tweetText) {
        	var safeVal = tweetText.substring(1, tweetText.length-1).replace(/[\\"]/g, "\"")
        	$('#twitt').html(safeVal, '<span>$1</span>')
        }
        
        var updateKeyword = function() {
        		var keyword = document.getElementById('keywordField').value
        		
        		$.ajax({url : "changeKeyword/"+keyword,
        				type: "GET"
        				});
        	}
    </script>
    
    <iframe id="comet" src="@routes.Application.rxTwitterStats.unique"></iframe>
    
}