@main {
    <div id="content">
    <h1>RxTwitterStats</h1>
    
    <div id="liveTweetBox"><p id="liveTitle">Live tweets</p>
    <p id="liveTweet">Waiting for tweet...</p>
    </div><br style="clear:both" /><br />
    <p>Number of live tweets : <span id="counter">0</span></p>
    <hr />
    <div><br />
	<input type="text" name="keywordField" id="keywordField">
	<input type="submit" value="Change Keyword" onclick="updateKeyword()">
	</div>
    
    <script type="text/javascript" charset="utf-8">
    
    var socket;
    var callbacks = {};
    
    var counterUpdate = function(ctr) {
    	$('#counter').html(ctr, '$1');
    }
    
    var twitterUpdate = function(liveTweet) {
    	var safeVal = liveTweet.substring(1, liveTweet.length-1).replace(/[\\"]/g, "\"");
    	$('#liveTweet').html(safeVal, '<span>$1</span>');
    }
    
    callbacks.counterUpdate = counterUpdate;
    callbacks.twitterUpdate = twitterUpdate;
    
	function createWebSocket(host, callbacks) {
		if (window.console) {
			console.log("Connecting to "+host+" ...");
			console.log(callbacks.length+" callbacks function set");
		}
		
		if (window.MozWebSocket) { // for Firefox
			window.WebSocket=window.MozWebSocket;
		}
		
		if (!window.WebSocket) {
			if (window.console) {
				console.log("This browser doesn't support websockets.")
			}
			alert('Votre navigateur ne supporte pas les WebSocket.');
			return false;
		} else {
			socket = new WebSocket(host);
			
			socket.onopen = function() { if (window.console) console.log("Socket opened."); }
			socket.onclose = function() { if (window.console) console.log("Socket closed."); }
			socket.onerror = function() { if (window.console) console.log("Socket error."); }
			
			// msg has form <function_name:argument> or <function_name>
			socket.onmessage = function(msgEvent) {
				var msg = msgEvent.data;
				
				console.log("msg = "+msg);
				index = msg.indexOf(":");
				if (index < 0) { // function has no argument
					callbacks[msg]();
				} else {
					func = msg.split(":")[0];
					arg = msg.substring(index+1);
					
					callbacks[func](arg);
				}
			}
		}
		return socket;
	}
	
	var pathArray = window.location.pathname.split( '/' );
	pathArray[pathArray.length-1] = "socket";
	var path = pathArray.join("/");
	socket=createWebSocket("ws://"+window.location.host+path, callbacks);
	
	console.log(socket);
	
	function sendMessage(msg) {
		if(typeof msg=='object') {
			msg = JSON.stringify(msg); // converting any data to string
		}
		
		if(socket) {
			if (window.console) console.log("Sending to server -> "+msg);
			socket.send(msg);
		} else {
			console.error("Socket undefined while trying to send.");
		}
	}
	
	var updateKeyword = function () {
		sendMessage(document.getElementById("keywordField").value);
	}
    </script>
    </div>
}