@main {
    
    <h1>Stocks</h1>
    
    <h1 id="stock">Loading...</h1>
    
    <p>
        Live stock value from UBS
    </p>
    
    <script type="text/javascript" charset="utf-8">
        // Called for each Comet message
        var stockChanged = function(stockValue) {
        	$('#stock').fadeOut('fast', function(){ });
        	$('#stock').html(stockValue, '<span>$1</span>')
        	$('#stock').fadeIn('fast', function(){ });
        }
    </script>
    
    <iframe id="comet" src="@routes.Application.liveStock.unique"></iframe>
    
}