body {
    font-family: Helvetica, Arial;
    font-weight: lighter;
    text-align: center;
    color: #666;
}

h1 {
    color: #333;
}

#content {
	width:800px;
	margin-left:auto;
	margin-right:auto;
}

#liveTweetBox {
	margin-left:auto;
	margin-right:auto;
	width:400px;
	height:85px;
	padding:10px;
	font-size:0.8em;
	background-color: #f0f0f0;
	border: 1px #d9d9d9 dotted;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 2px 3px 5px 1px #888888;
	-webkit-box-shadow: 2px 3px 5px 1px #888888;
	box-shadow: 2px 3px 5px 1px #888888;
}

#liveTitle {
	text-decoration:underline;
	font-style:italic;
}

#liveTweet {
}

#counter {
	font-style:bold;
}

#comet {
    display: none;
}